{{# if this.products }}
    <div class="row">
        <div class="col s8 m8 offset-m2 offset-s2" style="margin-top:5px ;">
            <ul class="collection ">
                {{#each products}}
                    <li class="collection-item clearfix teal accent-4 white-text">
                        <span class="badge black white-text right">{{this.qty}}</span>
                        <h5 class="">{{this.item.title}}</h5>
                        <h6 class="">${{this.item.price}}</h6>
                        <ul class=" collection" id="">
                            <li class="collection-item "><a href="/reduce/{{this.item._id}}">Reduce by 1</a></li>
                            <li class="collection-item "><a href="/remove/{{this.item._id}}">Remove All</a></li>
                        </ul>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s6 m4 offset-m4 offset-s3">
            <strong>Total: {{totalPrice}}</strong>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col s6 m4 offset-m4 offset-s3">
            <a href="/checkout" class="btn btn-success">Checkout</a>
        </div>
    </div>
{{ else }}
    <div class="container">
        <div class="">
            <h2 class="center red-text">No Items in Cart Yet!</h2>
            <div class="center ">
                <a href="/" class="btn blue darken-3 btn-large">Go Back Home</a>
            </div>

        </div>

    </div>
{{/if}}